body{
    background-color: black;
    overflow: visible;
}

.container{
    display:flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.animated{
    font-family: 'Ultra', serif;
    margin: 0;
    padding: 0;
    font-size: 6rem;
    background: url("textbg.jpeg");
    /* background-repeat: repeat-x, repeat-align-items: center;
    text-align: center;y; */
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    animation: moveBg 70s linear infinite;
    -webkit-animation: moveBg 70s linear infinite;
}

/* text background animation */

@keyframes moveBg{
    0%{
        background-position: 0% 30%;
    }
    100%{
        background-position: 100% 50%;
    }
}